<section id="chat">
    <div class="container">
        <div class="chat-avatar">
            <img class="img-circle chat-img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Tushar Mittal Profile Image.">
          </div>
        <div class = "name">
            <strong><span class="chat-title">I am techytushar, talk to me..</span></strong>
        </div>
        <div class="chat-message-box" id="chat-message-box">
            
        </div>
        <div class="input">
            <input type="text" class="chat-message" autocomplete="off" placeholder="Write Here">
            <button type="button" class="btn btn-success chat-button">Send</button>
        </div>
    </div>
</section>