<section id="events">
<div class="container">
  <h2><strong><u>Events Attended</u></strong></h2>
 
<div class="row" style = "margin-top: 20px;">
  <div class="col-md-6">
    <div class="thumbnail img-rounded">
      <a href="{{ site.baseurl }}static/img/pyconindia.jpeg">
        <img src="{{ site.baseurl }}static/img/pyconindia.jpeg" alt="Pycon India 2017" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">Pycon India 2017</h3>
       </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ site.baseurl }}static/img/startupleague.jpg">
        <img src="{{ site.baseurl }}static/img/startupleague.jpg" alt="Startup League" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">The Startup League</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ site.baseurl }}static/img/msp.jpeg">
        <img src="{{ site.baseurl }}static/img/msp.jpeg" alt="MSP Summit" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">MSP Summit</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ site.baseurl }}static/img/wordcamp.jpeg">
        <img src="{{ site.baseurl }}static/img/wordcamp.jpeg" alt="Wordcamp Kanpur" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">Wordcamp Kanpur</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ site.baseurl }}static/img/opensource.jpeg">
        <img src="{{ site.baseurl }}static/img/opensource.jpeg" alt="Intro To Open Source" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">Introduction to Open Source</h3>
        </div>
      </a>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ site.baseurl }}static/img/meetup.jpeg">
        <img src="{{ site.baseurl }}static/img/meetup.jpeg" alt="Local Meetup" style="width:100%">
        <div class="caption">
          <h3 style = "margin-top: 0px;">Kanpur Meetup Groups</h3>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</section>

