<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://techytushar.github.io"><i class="fa fa-home" style="font-size:26px"></i></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html" style="font-size:18px">BLOG</a></li>
        <li><a href="{{ site.baseurl }}projects.html" style="font-size:18px">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}events.html" style="font-size:18px">EVENTS</a></li>
        <li><a href="{{ site.baseurl }}resume.pdf" style="font-size:18px" target="_blank">RESUME</a></li>
        <li><a href="{{ site.baseurl }}#" style="font-size:18px" target="_blank">Let's Talk</a></li>
      </ul>
    </div>
  </div>
</nav>