<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home" style="font-size:26px"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html" style="font-size:18px">BLOG</a></li>
        <li><a href="{{ site.baseurl }}projects.html" style="font-size:18px">PROJECTS</a></li>
        <li><a href="https://www.linkedin.com/in/tusharmit/" style="font-size:18px" target="_blank">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>