<section id="projects">
<div class="container">
  <h2><strong><u>Projects</u></strong></h2>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
				<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/Sign-Language-Recognizer">Sign Language Recognizer</a></strong>
				- A simple deep learning project which uses CNN to recognize digits from hand gestures.
		</h5>
		<h5>
				<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/ML_and_DL">ML and DL</a></strong>
				- Implementation of various Machine Learning and Deep Learning algorithms in Python.  
		</h5>
		<h5>
				<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://github.com/techytushar/would-you-have-survived">Would you have survived?</a></strong>
				- A webapp to predict whether you would have survived on the Titanic Ship. It uses a machine learning model trained on the Kaggle Titanic Dataset, which gained an accuracy of 80%.  
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/amazon_flipkart_snapdeal_scraping">Ecommerce Scrapper</a></strong>
			- A command line tool to scrape the prices of the desired products from sites such as Amazon, Flipkart and Snapdeal and easily compare price. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/DjangoBlog">Django Blog</a></strong>
			- Simple Django Blog made while following the Django Girls tutorial. Learnt many things from databases to website hosting and version control.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/opencv-snake-game">OpenCV Snake Game</a></strong>
			- The new era Snake Game, based on Computer Vision, which is played using a red coloured object and webcam. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/facebook_automatic_birthday_wisher">Facebook Birthday Wisher</a></strong>
			- This project uses Selenium Webdriver and automatically writes a birthday message on your friend's facebook wall who have birthdays on that day.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/wikipedia_article_word_frequency_counter">Frequency Counter</a></strong>
			- Displays the top 20 words used in a Wikipedia article for a particular query.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/flask_chat_app">Flask Chat App</a></strong>
			- A simple chat app build using Flask and SocketIO. Currently working on deploying to Heroku.
		</h5>
		<h5>
				<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/techytushar/tic-tac-toe">Tic Tac Toe</a></strong>
				- Unbetable Tic Tac Toe made using the minimax algorithm.
		</h5>
    </div>
  </div>
</div>
</section>
