<div class="social">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fab fa-github" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope" style="font-size:36px"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.facebook %}
        <a href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-square" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}"><i class="fab fa-codepen" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.campus_expert %}
        <a href="https://githubcampus.expert/techytushar/"><i class="fab fa-github-alt" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.kaggle %}
        <a href="https://www.kaggle.com/techytushar"><i class="fab fa-kaggle" style="font-size:36px"></i></a>
    {%endif%}
	</h4>
</div>
