<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110551930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110551930-1');
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Tushar Mittal (@techytushar), python developer and machine learning enthusiat from Kanpur">
    <link rel="icon" href="{{ site.baseurl }}static/img/favicon.ico">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
	
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />
  <meta name="google-site-verification" content="HJK5gZ-lWKSswNq-lO8AC55kAiLF0wO3sAbwOAvna6k" />
    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <!-- Main Body-->
  <body>
  
  <!-- Wrap all page content here -->
  <div id="wrap">
    <!-- Navbar header -->
    {% include header.html %}
    {{ content }}
  </div>
  <!-- Footer -->
  {% include footer.html %}    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--    <script src="{{ site.baseurl }}static/js/particles.js"></script>
    <script src="{{ site.baseurl }}static/js/app.js"></script> -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
    <script src = "{{site.baseurl}}static/js/pxbWriter.js"></script>
    <script>
      var targetWriter = new Writer($("#target"), $("#target-cursor"), $("#target-mark"), 100, false, false, 0);
      targetWriter.setMark(">");
      targetWriter.write(" Tushar Mittal ", 0);
      targetWriter.setCursor("_");
      setInterval(function(){
    targetWriter.animateCursor(600);
}, 0);
    </script>
<script>
$(document).ready(function(){
$("#test1").delay(2000).animate({"opacity":"1"},500);
$("#test2").delay(2500).animate({"opacity":"1"},500)
$("#test3").delay(3000).animate({"opacity":"1"},500);
$("#test4").delay(3500).animate({"opacity":"1"},500);
$("#test5").delay(4000).animate({"opacity":"1"},500);
$("#test6").delay(4500).animate({"opacity":"1"},500);
});
</script>
<script>
  var img_url = "{{ site.baseurl }}static/img/loadingEllipsis.gif";
  var check = false;
  //to get the reply from the bot.
  function getReply(text){
    $(".chat-message-box").append("<div class='message'><p class='message-box send'>"+text+"</p></div>");
    $(".chat-message-box").append("<img src='"+img_url+"' class='chat-loading'>");
    updateScroll();
    var body = {"user":"UlhYTbP21igAIFha","key":"R8tMQ3wi0kqDDupIkemoe2uRilyLf2mE","text":text}
    check = true;
    $.ajax({
      type:'POST',
      async:true,
      crossDomain:true,
      url:"https://cleverbot.io/1.0/ask",
      data:body,
      success:function(data){
        if(data.status=="success"){
          $(".chat-loading").remove();
          $(".chat-message-box").append("<div class='message'><p class='message-box receive'>"+data.response+"</p></div>");
          check=false;
        }
        else{
          $(".chat-loading").remove();
          $(".chat-message-box").append("<div class='message'><p class='message-box receive'>"+"Sorry, techytushar is offline."+"</p></div>");
          check=false;
        }
      },
      error:function(data){
        $(".chat-loading").remove();
        $(".chat-message-box").append("<div class='message' style='background-color:rgb(252, 77, 77);'><p class='message-box receive'>"+"Some error occured."+"</p></div>");
        check=false;
      }
    })
    updateScroll();
  }
  //to keep the scroll to the bottom.
  function updateScroll(){
    var element = document.getElementById("chat-message-box");
    element.scrollTop = element.scrollHeight;
}

 //calling the function when button is clicked.
  $(document).ready(function(){
    $(".chat-message").keyup(function(event) {
    if (event.keyCode === 13) {
        $(".chat-button").click();
    }
  });
    $(".chat-button").on("click",function(){
      var text = document.querySelector(".chat-message").value;
      if(text && check==false){
        $(".chat-message-box").css("display","block");
        document.querySelector(".chat-message").value="";
        document.querySelector(".chat-message").focus();
        getReply(text);
      }
    })
  })
</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ site.baseurl }}static/js/docs.min.js"></script>
    <script src="{{ site.baseurl }}static/js/main.js"></script>
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
